<div class="container text-center landing">
  <h1>Welcome</h1>
  <div class="row col-md-8 col-md-offset-2">
    <div class="col-md-4">
      <a href="/login" class="btn btn-block">Login</a>
    </div>
    <div class="col-md-4 text-center">
    </div>
    <div class="col-md-4">
      <a href="/signup" class="btn btn-block" id="signup-button">Sign Up</a>

    </div>
  </div>
</div>