<!DOCTYPE html>
<html>
<head>
  <title>Tipoff Sports</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="text-shadow: 0px 0px 2px #3F3F3f;">
        <img src='/logo.png' style="height:100%;"></img>
      </a>
    </div>
      <a href="/"><i class="fa fa-home fa-2x spacing"></i></a>
      <div class="nav navbar-right">
      <% if @current_user %>
        <a class="btn btn-danger" href="/logout" style="margin: 10px 10px 0px 0px;">Logout</a>
      <% end %>
      </div>
  </div>
</nav>

<div id="content">
<%= yield %>
</div>
</body>
</html>
